<div id="container" style="overflow: hidden;">

  <div id="aside-container">
    <aside>
      <header id="aside-header">SLACA 2019</header>
      <ul id="side-menu">
        <li id="menu-item-image-container">
          <img src="../assets/13-SLACA.png" alt="logo 13 SLACA">
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Apresentação</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Comitês</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Autores</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Eixos temáticos</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar ativado"></span>
          <a href="|">Trabalhos</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Contato</a>
        </li>
      </ul>
    </aside>
  </div>


</div>