<div id="container" style="overflow: hidden;">

  <div id="aside-container">
    <aside>
      <header id="aside-header">SLACA 2019</header>
      <ul id="side-menu">
        <li id="menu-item-image-container">
          <img src="../assets/13-SLACA.png" alt="logo 13 SLACA">
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Apresentação</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Comitês</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Autores</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Eixos temáticos</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar ativado"></span>
          <a href="|">Trabalhos</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Contato</a>
        </li>
      </ul>
    </aside>
  </div>

  <div id="main-content-container">
    <header id="main-header">
      <div id="main-header-title">
        <span>Anais do Simpósio Latino Americano de Ciências de Alimentos</span>
        <span>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</span>
        <span>ISSN: 1234-5678</span>
      </div>

      <div id="main-header-lang-account">
        <div id="main-header-lang">
          <!-- <ion-icon name="globe-outline"></ion-icon> -->
          <select>
            <option value="pt-br">PT, BR</option>
          </select>
        </div>
        <div id="main-header-account">
          <div id="account-info">
            <span>Bem vindo!</span>
            <span>alguem12@galoascience.com</span>
          </div>
          <div id="account-image-notif">
            <div id="notifications">2</div>
            <img src="../assets/perfil.png" alt="imagem de perfil">
          </div>
        </div>
      </div>
    </header>
  </div>
</div>