<div id="container" style="overflow: hidden;">

  <div id="aside-container">
    <aside>
      <header id="aside-header">SLACA 2019</header>
      <ul id="side-menu">
        <li id="menu-item-image-container">
          <img src="../assets/13-SLACA.png" alt="logo 13 SLACA">
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Apresentação</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Comitês</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Autores</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Eixos temáticos</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar ativado"></span>
          <a href="|">Trabalhos</a>
        </li>
        <li class="menu-item">
          <span class="menu-item-bar desativado"></span>
          <a href="|">Contato</a>
        </li>
      </ul>
    </aside>
  </div>

  <div id="main-content-container">
    <header id="main-header">
      <div id="main-header-title">
        <span>Anais do Simpósio Latino Americano de Ciências de Alimentos</span>
        <span>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</span>
        <span>ISSN: 1234-5678</span>
      </div>

      <div id="main-header-lang-account">
        <div id="main-header-lang">
          <!-- <ion-icon name="globe-outline"></ion-icon> -->
          <select>
            <option value="pt-br">PT, BR</option>
          </select>
        </div>
        <div id="main-header-account">
          <div id="account-info">
            <span>Bem vindo!</span>
            <span>alguem12@galoascience.com</span>
          </div>
          <div id="account-image-notif">
            <div id="notifications">2</div>
            <img src="../assets/perfil.png" alt="imagem de perfil">
          </div>
        </div>
      </div>
    </header>
    <main>
      <header id="page-title-buttons">
        <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município
          de Campinas/SP'</h2>
        <div id="buttons-how">
          <div id="title-buttons">
            <button>
              <a href="|">
                <!-- <ion-icon name="download-outline"></ion-icon> -->
                Download
              </a>
            </button>
            <button>
              <a href="|">
                <!-- <ion-icon name="star-outline"></ion-icon> -->
              </a></button>
            <button>
              <a href="|"><img src="../assets/doi.png" alt="doi logo"></a>
            </button>
          </div>
          <span id="title-how">COMO CITAR ESSE TRABALHO?</span>
        </div>
      </header>
      <section id="video-quote">
        <div id="video">
          <span id="video-title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e
            15 anos, do município de Campinas/SP'
            <div id="video-bottom-title">
              <div id="image-container">
                <img src="..\assets\Beatriz Christiane Melo .png" alt="Beatriz Christiane Melo ">
              </div>
              <div id="bottom-caption">
                <span>Beatriz Christiane Melo</span>
                <span>FCA / Universidade Estadual de Campinas</span>
              </div>
            </div>
          </span>
          <video controls>
            <source src="../assets/ALIVE_Canada 4K.mp4">
          </video>
        </div>
        <div id="quotation">
          <div id="details">
            <header id="details-header">
              <span><strong>Detalhes</strong></span>
            </header>
            <div id="details-body">
              <div class="items"><span id="tipo">Tipo de Apresentação:</span> <span
                  id="tipo_valor"><strong>Pôster</strong></span>
              </div>
              <div class="items"><span id="eixo">Eixo temático:</span> <span id="eixo_valor"><strong> Alimentação e
                    saúde (AS)</strong></span></div>
              <div class="items"><span id="palavras">Palavras-chaves:</span> <span
                  id="palavras_valor"><strong>Alimentos funcionais, alimentação escolar.</strong></span></div>
              <div class="items"><span id="autores"><strong>Autores:</strong></span></div>
              <div class="items"><span id="autor1">Galileo Galilei¹</span></div>
              <div class="items"><span id="autor2">Berta Lange de Morretes²</span></div>
              <div class="items"><span id="autor3">Isaac Newton<sup>³</sup></span></div>
              <div class="items"><span id="autor4">Cesar Lattes<sup>¹</sup></span></div>
              <div class="items"><span id="autor5">Stephen Hawking<sup>⁴</sup></span></div>
              <div class="items"><span id="universidade1"><sup>¹</sup>Universidade Estadual de Campinas</span></div>
              <div class="items"><span id="universidade2"><sup>²</sup>Universidade de São Paulo</span></div>
              <div class="items"><span id="universidade3"><sup>³</sup>Instituto Nacional de Pesquisas Espaciais</span>
              </div>
              <div class="items"><span id="universidade4"><sup>⁴</sup>Universidade Federal do Rio de Janeiro</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="overview" class="btn-show-more" data-box-size="true">
        <header id="overview-header">
          <span>Resumo</span>
        </header>
        <article id="overview-article">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste est quo magni repellendus explicabo. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, velit veniam necessitatibus totam atque
            autem vero amet minima eos cum quas excepturi mollitia, fugiat recusandae, aspernatur odit corrupti optio
            tempora? Ab neque maiores accusantium error culpa nostrum assumenda harum! Excepturi eum ut obcaecati iste
            at impedit.</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste est quo magni repellendus explicabo. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, velit veniam necessitatibus totam atque
            autem vero amet minima eos cum quas excepturi mollitia, fugiat recusandae, aspernatur odit corrupti optio
            tempora? Ab neque maiores accusantium error culpa nostrum assumenda harum! Excepturi eum ut obcaecati iste
            at impedit.</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste est quo magni repellendus explicabo. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, velit veniam necessitatibus totam atque
            autem vero amet minima eos cum quas excepturi mollitia, fugiat recusandae, aspernatur odit corrupti optio
            tempora? Ab neque maiores accusantium error culpa nostrum assumenda harum! Excepturi eum ut obcaecati iste
            at impedit.</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste est quo magni repellendus explicabo. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, velit veniam necessitatibus totam atque
            autem vero amet minima eos cum quas excepturi mollitia, fugiat recusandae, aspernatur odit corrupti optio
            tempora? Ab neque maiores accusantium error culpa nostrum assumenda harum! Excepturi eum ut obcaecati iste
            at impedit.</p>
          <button id="overview-button">ver mais</button>
        </article>
      </section>
    </main>
  </div>
</div>