$color_1: white;
$color_2: #725C5C;
$color_3: #ED7839;
$color_4: #725c5c;
$color_5: #5c5c5c;
$color_6: #ada0a0;
$color_7: #adadad;
$color_8: #595959;
$color_9: #5C5C5C;
$color_10: #4D4D4D;
$color_11: #757575;
$font-family_1: "Roboto", sans-serif;
$font-family_2: "Quicksand", sans-serif;
$font-family_3: "Quiycksand", sans-serif;
$font-family_4: 'Quicksand' sans-serif;
$background-color_1: none;
$background-color_2: #fdf1eb;
$background-color_3: #ED7839;
$background-color_4: #FDF1EB;
$background-color_5: transparent;
$background-color_6: #f85959;
$background-color_7: #eaf1f2;
$background-color_8: #66606027;
$background-color_9: red;
$background-color_10: #f1f1f1;
$background-color_11: #71478e;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	&:focus {
		outline: none;
	}
}

div.container{
	display: initial;
}

div#aside-container {
	width: 20vw;
	display: flex;
	overflow: hidden;
}
aside {
	width: 20vw;
	height: 100vh;
	text-align: center;
	box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	header#aside-header {
		background: linear-gradient(to top, #ED7839, #FFB455);
		color: $color_1;
		display: grid;
		place-items: center;
		font-size: clamp(15px, 3vw, 42px);
		font-weight: 500;
		height: 11vh;
		font-family: $font-family_1;
	}
	ul#side-menu {
		font-family: $font-family_2;
	}
	ul {
		li#menu-item-image-container {
			img {
				height: 150px;
				// width: 100%;
			}
		}
		li.menu-item {
			border-bottom: 2px solid #cccccc;
			text-align: initial;
			display: flex;
			font-weight: 500;
			width: 100%;
			span.menu-item-bar.desativado {
				padding: 2px;
				background-color: $background-color_1;
			}
			span.menu-item-bar.ativado {
				padding: 2px;
				background: linear-gradient(to top, #ED7839, #FFB455);
			}
			a {
				display: flex;
				flex-grow: 1;
				align-items: center;
				padding: 3% 5%;
				text-decoration: none;
				font-size: 12px;
				color: $color_2;
			}
		}
	}
}
.menu-item-bar.ativado+a {
	background-color: $background-color_2;
}