$color_1: white;
$color_2: #725C5C;
$color_3: #ED7839;
$color_4: #725c5c;
$color_5: #5c5c5c;
$font-family_1: "Roboto", sans-serif;
$font-family_2: "Quicksand", sans-serif;
$background-color_1: #fdf1eb;
$background-color_2: #ED7839;
$background-color_3: #FDF1EB;
$background-color_4: #f85959;
$background-color_5: #66606027;
$background-color_6: #71478e;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	&:focus {
		outline: none;
	}
}

svg {
	width: 10px;
	height: 10px;
}

div#aside-container {
	width: 20vw;
	display: flex;
	overflow: hidden;

	aside {
		width: 20vw;
		height: 100vh;
		text-align: center;
		box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
		position: fixed;
		top: 0;
		left: 0;

		header#aside-header {
			background: linear-gradient(to top, #ED7839, #FFB455);
			color: $color_1;
			display: grid;
			place-items: center;
			font-size: clamp(15px, 3vw, 42px);
			font-weight: 500;
			height: 11vh;
			font-family: $font-family_1;
		}

		ul#side-menu {
			font-family: $font-family_2;
		}

		ul {
			li#menu-item-image-container {
				img {
					height: 150px;
				}
			}

			li.menu-item {
				border-bottom: 2px solid #cccccc;
				text-align: initial;
				display: flex;
				font-weight: 500;
				width: 100%;

				span.menu-item-bar.desativado {
					padding: 2px;
					background-color: none;
				}

				span.menu-item-bar.ativado {
					padding: 2px;
					background: linear-gradient(to top, #ED7839, #FFB455);
				}

				a {
					display: flex;
					flex-grow: 1;
					align-items: center;
					padding: 3% 5%;
					text-decoration: none;
					font-size: 12px;
					color: $color_2;
				}
			}
		}
	}
}

.menu-item-bar.ativado+a {
	background-color: $background-color_1;
}

div#main-content-container {
	width: 80vw;
	margin-left: 19vw;

	>* {
		padding: 0 3.5%;
	}

	header#main-header {
		display: flex;
		justify-content: space-between;
		height: 11vh;
		background-color: $background-color_3;

		div#main-header-title {
			display: flex;
			flex-direction: column;
			justify-content: center;

			span {
				color: $color_4;
				font-family: $font-family_1;
			}

			>span {
				&:nth-child(1) {
					font-size: 10px;
					font-weight: 400;
					margin-top: 1%;
				}

				&:nth-child(2) {
					font-size: 14px;
					font-weight: 400;
				}

				&:nth-child(3) {
					font-size: 10px;
					font-weight: 400;
				}
			}
		}

		#main-header-lang-account {
			display: flex;
			align-items: center;
			justify-content: space-between;

			#main-header-lang {
				display: flex;
				align-items: center;
				border: 1px solid #cccccc;
				border-radius: 4px;
				padding: 1%;

				select {
					color: $color_4;
					font-size: 10px;
					border: none;
					background-color: transparent;
				}
			}

			#main-header-account {
				display: flex;
				align-items: center;
				margin-left: 5%;
				font-family: $font-family_2;

				div#account-info {
					color: $color_4;
					display: flex;
					align-items: flex-end;
					flex-direction: column;

					>span {
						font-size: 10px;

						&:nth-child(1) {
							font-weight: 400;
						}

						&:nth-child(2) {
							font-weight: 300;
						}
					}
				}

				div#account-image-notif {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					position: relative;

					#notifications {
						position: absolute;
						top: 0px;
						right: 0px;
						background-color: $background-color_4;
						color: $color_1;
						border-radius: 50%;
						width: 10px;
						height: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
						z-index: 1;
						font-size: 7px;
					}
				}
			}
		}
	}
}

header#main-header {
	#main-header-lang-account {
		#main-header-account {
			div#account-image-notif {
				img {
					width: 80%;
				}
			}
		}
	}
}


header#page-title-buttons {
	display: flex;
	justify-content: space-between;
	padding: 1% 0;
	font-family: $font-family_1;

	h2 {
		width: 70%;
		font-family: $font-family_1;
		color: $color_3;
		font-size: 16px;
	}

	div#title-buttons {
		display: flex;
		justify-content: flex-end;
		height: 50%;
		gap: 2%;

		button {
			border: none;
			background-color: $background-color_2;
			border-radius: 4px;
			padding: 0% 5%;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				color: $color_1;
				text-decoration: none;
				font-size: 12px;

				ion-icon {
					font-size: 16px;
				}

				img {
					height: 70%;
				}
			}
		}
	}

	div#buttons-how {
		width: 28%;
		font-weight: 500;
		text-align: right;

		#title-how {
			padding-top: 1%;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			color: $color_3;
			font-size: 10px;
		}
	}
}
