$color_1: white;
$color_2: #725C5C;
$color_3: #ED7839;
$color_4: #725c5c;
$color_5: #5c5c5c;
$font-family_1: "Roboto", sans-serif;
$font-family_2: "Quicksand", sans-serif;
$background-color_1: #fdf1eb;
$background-color_2: #ED7839;
$background-color_3: #FDF1EB;
$background-color_4: #f85959;
$background-color_5: #66606027;
$background-color_6: #71478e;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	&:focus {
		outline: none;
	}
}

svg {
	width: 10px;
	height: 10px;
}

div#aside-container {
	width: 20vw;
	display: flex;
	overflow: hidden;

	aside {
		width: 20vw;
		height: 100vh;
		text-align: center;
		box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
		position: fixed;
		top: 0;
		left: 0;

		header#aside-header {
			background: linear-gradient(to top, #ED7839, #FFB455);
			color: $color_1;
			display: grid;
			place-items: center;
			font-size: clamp(15px, 3vw, 42px);
			font-weight: 500;
			height: 11vh;
			font-family: $font-family_1;
		}

		ul#side-menu {
			font-family: $font-family_2;
		}

		ul {
			li#menu-item-image-container {
				img {
					height: 150px;
				}
			}

			li.menu-item {
				border-bottom: 2px solid #cccccc;
				text-align: initial;
				display: flex;
				font-weight: 500;
				width: 100%;

				span.menu-item-bar.desativado {
					padding: 2px;
					background-color: none;
				}

				span.menu-item-bar.ativado {
					padding: 2px;
					background: linear-gradient(to top, #ED7839, #FFB455);
				}

				a {
					display: flex;
					flex-grow: 1;
					align-items: center;
					padding: 3% 5%;
					text-decoration: none;
					font-size: 12px;
					color: $color_2;
				}
			}
		}
	}
}

.menu-item-bar.ativado+a {
	background-color: $background-color_1;
}

div#main-content-container {
	width: 80vw;
	margin-left: 19vw;

	>* {
		padding: 0 3.5%;
	}

	header#main-header {
		display: flex;
		justify-content: space-between;
		height: 11vh;
		background-color: $background-color_3;

		div#main-header-title {
			display: flex;
			flex-direction: column;
			justify-content: center;

			span {
				color: $color_4;
				font-family: $font-family_1;
			}

			>span {
				&:nth-child(1) {
					font-size: 10px;
					font-weight: 400;
					margin-top: 1%;
				}

				&:nth-child(2) {
					font-size: 14px;
					font-weight: 400;
				}

				&:nth-child(3) {
					font-size: 10px;
					font-weight: 400;
				}
			}
		}

		#main-header-lang-account {
			display: flex;
			align-items: center;
			justify-content: space-between;

			#main-header-lang {
				display: flex;
				align-items: center;
				border: 1px solid #cccccc;
				border-radius: 4px;
				padding: 1%;

				select {
					color: $color_4;
					font-size: 10px;
					border: none;
					background-color: transparent;
				}
			}

			#main-header-account {
				display: flex;
				align-items: center;
				margin-left: 5%;
				font-family: $font-family_2;

				div#account-info {
					color: $color_4;
					display: flex;
					align-items: flex-end;
					flex-direction: column;

					>span {
						font-size: 10px;

						&:nth-child(1) {
							font-weight: 400;
						}

						&:nth-child(2) {
							font-weight: 300;
						}
					}
				}

				div#account-image-notif {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					position: relative;

					#notifications {
						position: absolute;
						top: 0px;
						right: 0px;
						background-color: $background-color_4;
						color: $color_1;
						border-radius: 50%;
						width: 10px;
						height: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
						z-index: 1;
						font-size: 7px;
					}
				}
			}
		}
	}
}

header#main-header {
	#main-header-lang-account {
		#main-header-account {
			div#account-image-notif {
				img {
					width: 80%;
				}
			}
		}
	}
}

header#page-title-buttons {
	display: flex;
	justify-content: space-between;
	padding: 1% 0;
	font-family: $font-family_1;

	h2 {
		width: 70%;
		font-family: $font-family_1;
		color: $color_3;
		font-size: 16px;
	}

	div#title-buttons {
		display: flex;
		justify-content: flex-end;
		height: 50%;
		gap: 2%;

		button {
			border: none;
			background-color: $background-color_2;
			border-radius: 4px;
			padding: 0% 5%;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				color: $color_1;
				text-decoration: none;
				font-size: 12px;

				ion-icon {
					font-size: 16px;
				}

				img {
					height: 70%;
				}
			}
		}
	}

	div#buttons-how {
		width: 28%;
		font-weight: 500;
		text-align: right;

		#title-how {
			padding-top: 1%;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			color: $color_3;
			font-size: 10px;
		}
	}
}

section#video-quote {
	display: flex;
	justify-content: space-between;
	height: 66vh;
	overflow: hidden;
	margin-bottom: 2.5%;

	div#video {
		width: 70%;
		position: relative;

		span#video-title {
			font-family: $font-family_1;
			color: $color_1;
			font-size: 16px;
			letter-spacing: 5%;
			margin-right: 14px;
			display: block;
			position: absolute;
			top: 14px;
			left: 14px;
			z-index: 1;

			div#video-bottom-title {
				display: flex;
				margin-top: 20%;

				div#bottom-caption {
					>span {
						display: block;

						&:nth-child(1),
						&:nth-child(2) {
							font-size: 16px;
						}
					}
				}

				div#image-container {
					width: 10%;
					margin-right: 15px;

					img {
						width: 100%;
					}
				}
			}
		}
	}

	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	div#quotation {
		height: 100%;
		width: 28%;
	}

	div#details {
		height: 100%;
		color: $color_5;
		border: 1px solid #f1f1f1;

		header#details-header {
			line-height: 2;
			background-color: $background-color_3;
			font-size: 16px;
			font-weight: 500;
			font-family: $font-family_1;
			padding-left: 4%;

			span {
				text-align: left;
				display: block;
			}
		}

		div#details-body {
			text-align: initial;
			padding: 4%;
			font-family: $font-family_2;
			overflow-y: auto;
			height: 100%;

			div.items {
				font-size: 11px;

				&:nth-child(3) {
					margin-bottom: 8%;
				}

				&:nth-child(9) {
					margin-bottom: 6%;
				}
			}
		}
	}
}

section#overview {
	border: 1px solid hsl(0, 0%, 95%);
	margin-bottom: 2.5%;
	overflow: hidden;
	cursor: pointer;
	position: relative;

	header#overview-header {
		line-height: 2;
		background-color: $background-color_3;
		font-weight: 500;
		font-family: $font-family_1;
		padding-left: 2%;
		font-size: 16px;
		color: #5C5C5C;

		span {
			text-align: left;
			display: block;
		}
	}

	article#overview-article {
		padding: 2%;
		color: $color_5;
		font-family: $font-family_2;

		p {
			margin-bottom: 3%;
			font-size: 12px;
		}

		#overview-button {
			position: absolute;
			bottom: 2px;
			right: 22px;
			z-index: 1;
			background: linear-gradient(to right, transparent, white);
			width: 17%;
			text-align: right;
			border: none;
			color: $color_3;
			cursor: pointer;
			font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

section[data-box-size="true"] {
	max-height: 189px;
}

section[data-box-size="false"] {
	max-height: initial;
}

section#discussions-container {
	border: 1px solid #f1f1f1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2.5%;
	padding-bottom: 2%;

	header#discussions-container-header {
		width: 100%;
		line-height: 2;
		background-color: $background-color_3;
		font-size: 16px;
		font-weight: 500;
		font-family: $font-family_1;
		padding-left: 2%;
		border-bottom: 1px solid #f1f1f1;
	}

	section#new-topic-container {
		text-align: center;
		border-bottom: 1px solid #f1f1f1;
		margin-bottom: 4%;
		padding-top: 2%;
		width: 97%;

		div#new-topic-images {
			margin-bottom: 2%;

			img {
				height: 30px;
				width: 30px;
			}
		}

		>span {
			&:nth-child(1) {
				color: $color_3;
				font-size: 13px;
				font-family: $font-family_1;
				font-weight: 700;
				margin-bottom: 1.5%;
				display: block;
			}

			&:nth-child(3) {
				font-size: 12px;
				font-weight: 400;
				width: 90%;
				display: block;
				padding-bottom: 2%;
				margin: 0 auto;
				color: $color_5;
				font-family: $font-family_2;
			}
		}

		button {
			display: block;
			margin: 0 auto;
			background: linear-gradient(to top, #ED7839, #FFB455);
			border: none;
			border-radius: 5px;
			padding: 0.5% 1%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			color: $color_1;
			font-size: 12px;
			cursor: pointer;
			margin-bottom: -10px;
		}
	}
}

section[data-new-topic-container="true"] {
	display: initial;
}

section[data-new-topic-container="false"] {
	display: none;
}

section[data-new-topic-inputs="true"] {
	display: initial;
}

section[data-new-topic-inputs="false"] {
	display: none;
}

section#sent-topic {
	padding-top: 2%;
	padding-bottom: 2%;
	width: 97%;
	text-align: center;

	>span {
		display: block;
		margin-bottom: 1%;

		&:nth-child(1) {
			font-size: 15px;
			font-family: $font-family_1;
			color: $color_3;
		}

		&:nth-child(2) {
			font-size: 12px;
			font-family: $font-family_2;
		}

		&:nth-child(3) {
			font-size: 12px;
			font-family: $font-family_2;
			color: $color_3;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	button {
		font-size: 12px;
		background: linear-gradient(to top, #ED7839, #FFB455);
		font-family: $font-family_2;
		width: 20%;
		line-height: 2;
		border: none;
		font-weight: bold;
		color: $color_1;
		border-radius: 5px;
		cursor: pointer;
	}
}

section[data-sent-topic="true"] {
	display: initial;
}

section[data-sent-topic="false"] {
	display: none;
}

section#new-topic-inputs {
	padding-top: 2%;
	width: 97%;
	font-size: 14px;
	font-family: $font-family_2;
	color: $color_5;
	margin-bottom: 2%;

	>span {
		display: block;
		text-align: center;
		font-size: 13px;
	}

	form#new-topic-container-form {
		span {
			font-size: 12px;
			display: block;
			text-align: initial;
			font-family: $font-family_2;
		}

		div#new-topic-header {
			color: $color_3;
			margin: 2% 0;

			input {
				font-family: $font-family_2;
				border: 1px solid #f1f1f1;
				width: 100%;
				line-height: 2;
				padding-left: 1%;
				padding-right: 1%;
				border-radius: 5px;
				font-size: 10px;
			}
		}

		div#new-topic-content {
			color: $color_3;

			textarea {
				display: block;
				width: 100%;
				height: 90px;
				border: 1px solid #f1f1f1;
				padding: 1%;
				resize: none;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				font-size: 10px;
			}
		}

		div#new-topic-footer {
			text-align: right;
			font-family: $font-family_1;
			cursor: pointer;
			background-color: none;
			border: 1px solid #f1f1f1;
			width: 100%;
			float: right;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;

			button {
				line-height: 2;
				width: 20%;
				border: none;
				color: $color_1;
				font-size: 10px;
				background: linear-gradient(to top, #ED7839, #FFB455);
				cursor: pointer;
			}
		}
	}
}